descr:
  distro:
    files:
    format:
    url:
  igdb_slug: ${IGDB_SLUG}
  lang:
  media_assets:
  name:
  platform:
  publisher:
  refs:
    ag_id:
    lutris_id:
    mg_id:
    pcgw_id:
    qz_id:
  reqs:
    color_bits:
    screen_height:
    screen_width:
    ua:
      lock_pointer:
  runner:
    name:
    ver:
  ts_added: ${CURRENT_DATETIME}
  uuid: ${APP_RELEASE_UUID}
  year_released:
  tags:
installer:
  tasks:
