[sdl]
fullscreen         = ${fullscreen}
fullresolution     = desktop
windowresolution   = desktop
window_position    = auto
window_decorations = false
vsync              = false
vsync_skip         = 7000
output             = texture
texture_renderer   = auto
waitonerror        = true
priority           = auto
screensaver        = block

[dosbox]
language          = en
machine           = svga_s3
memsize           = 16
vmemsize          = auto
vesa_modes        = compatible
autoexec_section  = join
startup_verbosity = quiet

[render]
aspect   = true
viewport = fit

[cpu]
cputype    = auto
core       = normal
cpu_cycles = ${cycles}

[mouse]
mouse_capture     = onstart
mouse_raw_input   = false
mouse_sensitivity = ${sensitivity}

[capture]
capture_dir = capture

[autoexec]
% for cmd in autoexec:
${cmd}
% endfor
