[sdl]
autolock=true
fullscreen=${fullscreen}
fulldouble=true
fullresolution=auto
windowresolution=auto
output=opengl
mouse_emulation=integration
showmenu=false

[dosbox]
title=Windows 3.11
memsize=30
machine=svga_s3

[dos]
hard drive data rate limit=0
floppy drive data rate limit=0

[cpu]
cputype=pentium
core=normal
integration device=true
cycles=${cycles}

[pci]
voodoo=false

[ide, primary]
int13fakeio=true
int13fakev86io=false

[render]
scaler=none
aspect=false

[autoexec]
% for cmd in autoexec:
${cmd}
% endfor
