[sdl]
autolock=${autolock}
fullscreen=${fullscreen}
fulldouble=false
fullresolution=desktop
windowresolution=desktop
output=opengl
waitonerror=false
sensitivity=${sensitivity}

[dosbox]
memsize=16
machine=svga_s3

[cpu]
cputype=auto
core=normal
cycles=${cycles}

[render]
scaler=${scaler}
aspect=${aspect}

% if gus:
[gus]
gus=true
gusrate=22050
gusbase=240
irq1=5
irq2=5
dma1=3
dma2=3
ultradir=C:\ULTRASND
% endif

[autoexec]
SET PATH=%PATH%;C:\UTILS
% for cmd in autoexec:
${cmd}
% endfor
