[sdl]
autolock=true
output=opengl
showmenu=false

[dosbox]
title=Windows 98
memsize=${memsize}

[video]
vmemsize=8
vesa modelist width limit=0
vesa modelist height limit=0

[dos]
ver=7.1
hard drive data rate limit=0
floppy drive data rate limit=0

[cpu]
cputype=pentium_mmx
core=normal
cycles=${cycles}

[sblaster]
sbtype=sb16vibra

[fdc, primary]
int13fakev86io=true

[ide, primary]
int13fakeio=true
int13fakev86io=true

[ide, secondary]
int13fakeio=true
int13fakev86io=true
cd-rom insertion delay=4000

[ide, tertiary]
enable=true
int13fakeio=true
int13fakev86io=true
cd-rom insertion delay=4000

[ide, quaternary]
enable=true
int13fakeio=true
int13fakev86io=true
cd-rom insertion delay=4000

[ide, quinternary]
enable=true
int13fakeio=true
int13fakev86io=true
cd-rom insertion delay=4000
irq=9
io=0110
altio=011F

[render]
scaler=none

[autoexec]
SET PATH=%PATH%;C:\UTILS
% for cmd in autoexec:
${cmd}
% endfor
