#!/bin/bash

CUR_DIR=$(cd `dirname $0` && pwd)
cd $CUR_DIR

qemu-system-x86_64 \
  -nodefaults \
  ${mounts} \
  -enable-kvm \
  -cpu "${cpu}" \
  -m ${memory} \
  -display ${display} \
  -device VGA \
  -audiodev pa,id=pa1 \
  -device ${audiodev},audiodev=pa1 \
% if 'pointerdev' in locals() and pointerdev not in (None, ''):
  -usbdevice ${pointerdev} \
% endif
  -monitor vc
